a {
  color: black;  
}

a:hover{
    color: black;
    text-decoration: none;
}

body {
    background-color: #38404c;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2%;
}

#load-more{
    display: none;
}

#load-more:hover{
    background-color: #7db1ce;
}

#main-form {
    width: 50%;
    margin-left: 25%;
}

#random {
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
    color:#2a2d33;
}

#query {
    background-color: gray;
    color: white;
}

.well {
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.well:hover{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}