a {
  color: black;  
}

a:hover{
    color: black;
    text-decoration: none;
}

body {
    background-color: #38404c;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 2%;
}

#main-form {
    width: 50%;
    margin-left: 25%;
}

#random {
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    color:#2a2d33;
}

#query {
    background-color: gray;
    color: white;
}